

h1{
	text-align: center;
	color: rgb(165, 42, 122);
}

body{
	text-align: center;
}

table{
	color:brown;
	font-size: 200%;
	margin: 0 auto;
	
}

button{
	border-radius: 50%;
	color: black;
	background-color: white;

}

td{
	padding: 30%;
}